.section{
	text-align:center;
}


/* Sections
 * --------------------------------------- */
 #section0,
 #section1,
 #section2,
 #section3,
 #section4,
 .slide{
	background-size: cover;
 }
 #section0{
	background-image: url(../img/bg3.jpg);
 }
 #section1{
	background-image: url(../img/bg2.jpg);
 }
 #section2{
	background-image: url(../img/bg4.jpg);
 }
 
 #section3{
	background-image: url(../img/bg5.jpg);
 }
 #section4{
 	background-image: url(../img/bg1.jpg);
 }

.section .bg-content {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 20px;
    width: 100%;
    color: #333;
}