        input, textarea { opacity:0.8;}
        #navbar-collapse-1 { font-size: medium;}
        .section.table { margin: 0;}
        .controlArrow { opacity: 0.5;}
        .controlArrow:hover { opacity: 1;}
        
        @media (max-width: 768px) {
        .container { margin:0 10px;}
            h1{ font-size: 26px !important; }
        p, label{ font-size: 16px !important; }
        }
        
        @media  (min-width: 769px) and (max-width: 980px) {
            h1{ font-size: 34px !important; }
        p, label{ font-size: 20px !important; }
        }
        @media (min-width: 981px) {
            h1{ font-size: 48px !important; }
        p, label{ font-size: 24px !important; }
        }
        @font-face{
                font-family: "AgoraSlabPro-Medium";
                src: url('../fonts/PFAgoraSlabPro-Medium.eot?') format('eot'),
                url('../fonts/PFAgoraSlabPro-Medium.ttf') format('truetype');
                }
        h1 {
            color: #d9571f;
            font-family: "AgoraSlabPro-Medium";
        }
        h2 {
            color: #d9571f;
            font-family: "AgoraSlabPro-Medium";
        }
        .btn-sunbuh {
            background-color: #5bb72b;
            color: white;
            border-radius: 0 10px 0 10px;
            padding: 10px 20px 7px 20px;
            border-bottom: 3px solid #5bb72b;
            font-size: 18px;
        }
        .btn-sunbuh:hover {
            color: white;
            background-color: #5bb72b;
            border-bottom: 3px solid #38701a;
        }
        #telephone {
            padding-right: 10px;
        }
        div#telephone {
        position: fixed;
        z-index:99;
        top: 63px;
        right: 0;
        border: 0;
        z-index: 9999;
        }
        #telephone h1 {
            font-size: 40px !important;
        }
        #telephone h2 {
            font-size: 28px !important;
        }
        .navbar-inverse {
            background-color: rgba(255, 255, 255, 0.4);
            border-color: transparent;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .navbar-brand {
            padding: 0;
        }
        .navbar-inverse .navbar-nav>li>a {
            color: #804A33;
        
        }
        .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover {
        color: #fff;
        background-color: #d9571f;
        }